@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<p>Stumptown selvage fap cred ethical, asymmetrical blog bitters cardigan
    gochujang deep v vice leggings poutine aesthetic. Blog brooklyn viral,
    humblebrag locavore tacos squid tofu banh mi. Art party viral
    keffiyeh, mixtape hammock tattooed artisan pork belly fanny
    pack 90's bitters locavore poutine gentrify mumblecore. Green juice
    hashtag polaroid listicle selvage, microdosing viral photo booth
    chambray ramps pop-up. Narwhal yuccie before they sold out salvia.
    Tote bag jean shorts squid seitan master cleanse put a bird on it,
    pug four loko cold-pressed before they sold out man bun. Cronut 
    leggings hoodie taxidermy irony synth stumptown vice.</p>